</body>
<script type="text/javascript" src="javascripts/Observer.js"></script>
<script type="text/javascript">
var usermenu = document.getElementById('usermenu');
usermenu.onclick = function(){
	if(usermenu.children[1].style.display == 'none'){
		usermenu.children[1].style.display =  'block';
	}
	else if(usermenu.children[1].style.display == 'block'){
		usermenu.children[1].style.display =  'none';		
	}
}

</script>
</html>