<% include header %>
<form action="" id="flickSearch" method="post">
	<input type="text" name="name" id="query">
	<input type="submit" name="submit" value="submit">
</form>

<div id="lastQuery"></div>

<div id="searchResults"></div>

<script type="text/javascript" src="<%= site %>/javascripts/PubSub_AjaxModule_exam.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script type="text/html" id="resultTemplate">
	

</script>