<% include header %>
<form action="/AjaxModule" id="flickSearch" method="post">
	<input type="text" name="tags" id="query">
	<input type="submit" name="submit" value="submit">
</form>

<div id="searchResults">
	
</div>


<button id="send">ssadsa</button>
<script type="text/javascript" src="<%= site %>/javascripts/Subscribe.js"></script>
<script type="text/javascript" src="<%= site %>/javascripts/jquery.js"></script>
<script type="text/javascript" src="<%= site %>/javascripts/PubSub_AjaxModule_exam.js"></script>
