

<% include header %>
<input type="checkbox" id="main" >全选
<button id="add">ADD</button>

<div id="container">
	
</div>


<script type="text/javascript" src="javascripts/Observer.js"></script>
<script type="text/javascript">
var controlBox = document.getElementById('main');
var container = document.getElementById('container');
var addCheckbox = document.getElementById('add');

//具体目标 
extend(new Subject(), controlBox);

//点击controlBox 会触发相应的函数
controlBox.addEventListener('click',function(){
	//告诉观察者小组这个全选按钮是不是已经全选了
	controlBox.Notify(controlBox.checked);
},false);

addCheckbox.addEventListener('click',function(){
	AddNewObserver();
},false);


function AddNewObserver(){
	var checkbox = document.createElement('input');
	checkbox.type = 'checkbox';
	//把这个全选框作为观察者
	extend(new Observer(),checkbox);

	//一旦观察的对象出现更新，那么触发更新函数
	checkbox.update = function(value){
		this.checked = value;
	}
	controlBox.AddObserver(checkbox);
	container.appendChild(checkbox);
}


</script>