
        <div class="footer-container">
            <footer class="wrapper footer-wrapper">
                <section class="vertical">
                	<p class="inner">Powered and Designed By Andycall</p>
                </section>
            </footer>
        </div>
<!-- 
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
 -->
</body>
</html>