
        <div class="footer-container">
            <footer class="wrapper footer-wrapper">
                <section class="vertical">
                	<p class="inner">Powered and Designed By Andycall</p>
                	<pre>Friends:   <span><a href="http://zeroling.com">ZeroLing</a></span> | <span><a href="http://ricter.info/">Ricter</a></span> | <span><a href="http://ejohn.org/">John Resig</a></span> | <span><a href="http://cnodejs.org/">CNode</a></span> | <span><a href="http://www.alloyteam.com/">AlloyTeam</a></span> | <span><a href="http://ued.taobao.org/blog/">Taobao UED</a></span> | <span><a href="http://www.nczonline.net/">Nicholas C. Zakas</a></span> </pre>
                </section>
                
            </footer>
        </div>
<!-- 
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
 -->
</body>
</html>