<% include admin_head %>
<form method="post">
	<section>
		title : 
		<input type="text" name="title" >
	</section>
	<section><textarea name="post" rows="20" cols="100"></textarea></section>
	<input type="submit" name='submit' value="POST">
</form>




<% include admin_foot %>