<% include admin_head %>
<form method="post" onsubmit="getKindeditor()">
	<section>
		title : 
		<input type="text" name="title" required="required">
	</section>
	<section>
		Label<input type="text" name="label" id="label" required="required">
	</section>
	<section>
		<textarea name="publish" rows="20" cols="100" id="publish"></textarea>
	</section>
	<section>
		保存为草稿:<input type="checkbox" name="saveDraft" />
	</section>
	<input type="submit" name='submit' value="POST" id="submit">
</form>




<% include admin_foot %>

<script type="text/javascript">
function getKindeditor(){
	var context = editor.html();
	document.getElementById('publish').innerHTML = context;
}

document.getElementById('SaveDraft').addEventListener('click',function(){
	this.dataset.draft = "true";
});


</script>