<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../public/stylesheets/screen.css">
</head>
<body>
	<header class="blog-head">
		<div class="vertical">
			<div class="blog-head-content inner">
				<h1>This is a Test</h1>
				<!-- <h1>AndyCALL's Blog</h1>
				<h2>现在才上线，就是为了这个特殊的日子：2014-2-22</h2 -->
			</div>
		</div>
	</header>
	<main>
		<% docs.forEach(function(doc,index){ %>
			<div class="publish_section">
   			<h3><a href="/<%= doc.name %>/<%= doc.time.day %>/<%= doc.title %>"><%= doc.title %></a></h3>
  			<p class="Blog_info">
      		Author : <a href="/<%= doc.name %>"><%= doc.name %></a>
      		Date : <span><%= doc.time.minute %></span>
  			</p>

  			<%- doc.publish %>
			</div>
		<% }); %>
	</main>
	<footer class="blog-footer">
		<div class="inner">
			<section>Powered and Designed by andycall</section>
		</div>
	</footer>
</body>
</html>