</main>
</body>
<script type="text/javascript" src="<%= site %>/javascripts/settings.js"></script>
<script type="text/javascript" src="<%= site %>/javascripts/eventHandle.js"></script>
<script type="text/javascript">
var usermenu = document.getElementById('usermenu');
usermenu.onclick = function(){
	if(usermenu.children[1].style.display == 'none'){
		usermenu.children[1].style.display =  'block';
	}
	else if(usermenu.children[1].style.display == 'block'){
		usermenu.children[1].style.display =  'none';		
	}
}

//convertToArray(document.querySelectorAll('.DeletePost')).forEach(function(value){
//	console.log(value);
//	value.addEventListener('click',function(e){
//	e.preventDefault();
//	});
//});

var hidden = document.querySelectorAll('.close');
var notification = document.querySelectorAll('.js-bb-notification');
if(hidden){
    for(var i = 0,len = hidden.length; i < len; i ++){
        (function(index){
            on(hidden[index],'click', function(){
                notification[index].style.display = 'none';
            })
        })(i);
    }
}

</script>



</html>