<div class="js-bb-notification" style="display: block; height: auto;">
    <section class="notification-success notification-passive js-notification">
        Your post has been updated.
        <a class="close" href="#"><span class="hidden">Close</span></a>
    </section>
</div>