

<section class="settings-content active" data-filestorage="true" id="user" style="">
    <header>
        <button class="button-back">Back</button>
        <h2 class="title">Your Profile</h2>
    </header>

    <section class="content no-padding">

        <form class="user-profile" novalidate="novalidate" method="post">

            <fieldset>

                <div class="form-group">
                    <label for="user-password-old">Old Password</label>
                    <input type="password" id="user-password-old" name="oldPassword">
                </div>

                <div class="form-group">
                    <label for="user-password-new">New Password</label>
                    <input type="password" id="user-password-new" name="newPassword">
                </div>

                <div class="form-group">
                    <label for="user-new-password-verification">Verify Password</label>
                    <input type="password" id="user-new-password-verification" name="verifPassword">
                </div>
                <div class="form-group">
                    <input type="submit" class="button-delete button-change-password" value="change password">
                </div>

            </fieldset>

        </form>
    </section>

</section>