<%- include header %>
<form method="post">
	<section>
		<label for="username">username</label>
		<input type="text" name="username" id="username" required="required" />
	</section>
	<section>
		<label for="password">password</label>
		<input type="password" id="password" name="psw" required="required" />
	</section>
	<section>
		<label for="Repassword">Repassword</label>
		<input type="password" id="Repassword" name="repsw" required="required"  />
	</section>
	<section>
		<label for="Tag">Tag</label>
		<select name="Tag" multiple id="Tag">
			<option value="屌丝">屌丝</option>
			<option value="土豪">土豪</option>
			<option value="糕富帅">糕富帅</option>
			<option value="文艺青年">文艺青年</option>
		</select>	
	</section>
    <section>
        <label for="permission">Permission</label>
        <select name="permission" id="permission">
            <option value="7">Admin</option>
            <option value="4">User</option>
        </select>
    </section>
	<section>
		<label for="email">Email</label>
		<input type="email" id="email" name="email" required="required" />
	</section>
	<input type="submit" name="submit" id="submit" value="register">

</form>


<%- include footer %>