<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="<%= site %>/stylesheets/FlexBox/FlexBox.css">
</head>
<body>
	<div id="flexBox">
		<p>Block 1</p>
		<p>Block 2</p>
		<p>Block 3</p>
	</div>
</body>
</html>