<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="<%= site %>/stylesheets/normalize.min.css">
	<link rel="stylesheet" href="<%= site %>/stylesheets/font-awesome.min.css">
	<link rel="stylesheet" href="<%= site %>/stylesheets/TimeLine.css">
</head>
<body>
	<main class="main">
		<ul class="timeLine"> 
			<li>
				<div class="time">
					<span>2014/3/2</span>
					<span>18:20</span>
				</div>
				<div class="circle">
					<i class="fa fa-calendar"></i>
				</div>
				<div class="content">
					<h2>Helloworld</h2>
					<p>Helloworld</p>
				</div>
			</li>
			<li>
				<div class="time">
					<span>2014/3/2</span>
					<span>18:20</span>
				</div>
				<div class="circle">
					<i class="fa fa-calendar"></i>
				</div>
				<div class="content">
					<h2>Helloworld</h2>
					<p>Helloworld</p>
				</div>
			</li>
			<li>
				<div class="time">
					<span>2014/3/2</span>
					<span>18:20</span>
				</div>
				<div class="circle">
					<i class="fa fa-calendar"></i>
				</div>
				<div class="content">
					<h2>Helloworld</h2>
					<p>Helloworld</p>
				</div>
			</li>
			<li>
				<div class="time">
					<span>2014/3/2</span>
					<span>18:20</span>
				</div>
				<div class="circle">
					<i class="fa fa-calendar"></i>
				</div>
				<div class="content">
					<h2>Helloworld</h2>
					<p>Helloworld</p>
				</div>
			</li>
		</ul>
	</main>
</body>
</html>